@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --cor-fundo: #836FFF;
    --cor-destaque:#00FF7F;
    --cor-clara: #DAA520;
    --cor-clara2:#8A2BE2;
    --cor-clara3: #FF00FF;
    --cor-texto: #000000;

    width: 900px;
    box-sizing: content-box;

}
body {
    background-color: var(--cor-fundo);
   
}
h1,h2,h3,h4,h5 {
    font-family: 'Roboto';
    color: var(--cor-destaque);
    font-weight: bolder;
    padding-left: 35px;

}
img {

    border-radius: 5%;
    box-shadow: 0px 20px 13px -7px #000000, 5px 5px 30px 5px rgba(0, 0, 0, 0);
    margin: 40px;    
    padding: none;
    
}
p,a {
    color:#000000 ;
    font-family: 'Roboto';
    padding-left: 50px;
}